.add-icon {
    background : {
    image: url("./assets/arrow-right-solid.svg");
    position: center center;
    repeat: no-repeat;
    size: 14px 14px;
    }
}

/*SASS 2-2. 내용
backgroun-image: ;
background-position: ;
등등을 위의 코드로 한번에 가능함